{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">
        {% translate "Home" %}
    </a>

    &rsaquo;

    <a
        href="{% url 'admin:app_list' app_label=opts.app_label %}"
    >
        {{ opts.app_config.verbose_name }}
    </a>

    &rsaquo;

    <a
        href="{% url 'admin:qa_questionanswer_changelist' %}"
    >
        {{ opts.verbose_name_plural|capfirst }}
    </a>

    &rsaquo;

    Ask question
</div>
{% endblock %}


{% block content %}
<div id="content-main">

    <form method="post" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <p class="errornote">
                {{ form.non_field_errors }}
            </p>
        {% endif %}

        <fieldset class="module aligned">

            {% for field in form %}
                <div
                    class="form-row{% if field.errors %} errors{% endif %}"
                >
                    {{ field.errors }}

                    <div>
                        {{ field.label_tag }}

                        {{ field }}

                        {% if field.help_text %}
                            <div class="help">
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </fieldset>

        <div class="submit-row">
            <input
                type="submit"
                value="Ask question"
                class="default"
            >

            <a
                href="{% url 'admin:qa_questionanswer_changelist' %}"
                class="button cancel-link"
            >
                Cancel
            </a>
        </div>

    </form>

</div>
{% endblock %}